@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply m-0 font-sans antialiased bg-black text-gray-900;
  }
  ul {
    @apply m-0 p-0;
  }
  li {
    @apply list-none;
  }
  button {
    @apply cursor-pointer font-sans;
  }
  a {
    @apply no-underline text-inherit;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  /* Scrollbar stylée */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}
