<div class="stock-chart">
  @if (stats.length === 0) {
    <p class="stock-chart__empty">{{ 'HOME.NO_DATA' | translate }}</p>
  } @else if (chartType === 'pie') {
    <div class="stock-chart__canvas-wrapper">
      <canvas baseChart [data]="pieData" type="doughnut" [options]="pieOptions"></canvas>
    </div>
    <div class="stock-chart__legend">
      @for (s of stats; track s.nom; let i = $index) {
        <div class="stock-chart__legend-item">
          <span class="stock-chart__legend-dot" [style.background]="palette[i]"></span>
          <span class="stock-chart__legend-label">{{ s.nom }}</span>
        </div>
      }
    </div>
  } @else {
    <div class="stock-chart__canvas-wrapper">
      <canvas baseChart [data]="barData" type="bar" [options]="barOptions"></canvas>
    </div>
    <div class="stock-chart__legend">
      @for (s of stats; track s.nom; let i = $index) {
        <div class="stock-chart__legend-item">
          <span class="stock-chart__legend-dot" [style.background]="palette[i]"></span>
          <span class="stock-chart__legend-label">{{ s.nom }}</span>
        </div>
      }
    </div>
  }
</div>
